.product-price del {
    color: #e22b85;
    font-size: 16px;
    font-weight: 400;
}

@font-face{
    font-family:montserratBold;
    src:url(../fonts/montserrat-bold-webfont.eot);
    src:url(../fonts/montserrat-bold-webfont.eot) format('embedded-opentype'),
        url(../fonts/montserrat-bold-webfont.woff) format('woff2'),
        url(../fonts/montserrat-bold-webfont.woff) format('woff'),
        url(../fonts/montserrat-bold-webfont.ttf) format('truetype');        
}

@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:open_sansregular;
    src: url(../fonts/OpenSans-Regular-webfont.eot);
    src: url(../fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Regular-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Regular-webfont.ttf) format('truetype'),
         url(../fonts/OpenSans-Regular-webfont.svg#open_sansregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: open_sanslight;
    src: url(../fonts/OpenSans-Light-webfont.eot);
    src: url(../fonts/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Light-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Light-webfont.ttf) format('truetype'),
         url(../fonts/OpenSans-Light-webfont.svg#open_sanslight) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('OpenSans-ExtraBold-webfont.eot');
    src: url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}






body,p,label{
    font-family: open_sanslight !important;
    font-weight: 300;
    color: grey;
}

h1,h2,h3,h4,.amount,.product-name,.upper,.awemenu-item,strong,b{
    font-family: montserratBold !important;
    font-weight: 300;
    color:	white
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
font-family: open_sansregular
}

    

.fa {
    display: inline-block;
    font-family: FontAwesome !important;
}

@media (max-width:768px){
    .product-hover {        
        opacity: 1;        
        visibility: visible;
    }
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    cursor: auto;
    width: auto;
}

.product-quickview-popup {
    min-width:auto;
    padding: 0;
}

.white-popup {
    max-width: auto;    
}

.headroom--not-top .logo2{
    display:block !important;
}

.headroom--top .logo2{
    display:none;
}

.headroom--not-top .logo1{
    display:none;
}